In [3]:
import pandas as pd

data = range(1440)

for i in range(data):
    

df.sample(5)

   id        date       interval average  max  min total
3   2  2020-01-01  hourly24hours    0.71  2.0  1.0   2.0
0   1  2020-01-01  hourly24hours    0.80  2.0  4.0   NaN
5   2  2020-01-01  hourly24hours    0.71  2.0  1.0   2.0
1   2  2020-01-01  hourly24hours    0.71  2.0  1.0   2.0
4   2  2020-01-01  hourly24hours    0.71  2.0  1.0   2.0